APP_PORT=3000

JWT_SECRET=
JWT_EXPIRES_IN=1d

DB_HOST=
DB_PORT=1521
DB_SID=
DB_USER=
DB_PASSWORD=
DB_SYNCHRONIZE=true
DB_LOGGING=false

GEMINI_API_KEY=

EVOLUTION_API_URL=http://evolution-api:8080
EVOLUTION_API_KEY=
EVOLUTION_INSTANCE_NAME=lactareconnect
WHATSAPP_WEBHOOK_SECRET=
